default_model: "microsoft/phi-2"
embed_model: "sentence-transformers/all-MiniLM-L6-v2"
quantization:
  load_in_4bit: true
  bnb_4bit_use_double_quant: true
  bnb_4bit_quant_type: "nf4"
  bnb_4bit_compute_dtype: "float16"

